//Colors
$primary-color: #095896;
$secondary-color: #ff731d;
$gray-color: #404040;
$secondary-gray-color: #767676;
$gray-white-color: #6A6A6A;
$bg-gray: #F4F4F4;

$text-gray: #53686A;

//Font Size
$fs-xl: 32px;
$fs-lg: 18px;
$fs-md: 16px;
$fs-sm: 12px;
$fs-xm: 10px;

//Font Wegith
$fw-lg: 600;
$fw-md: 500;
$fw-sm: 400;

// padding
$section-padding:32px 24px;