@import "../../../assets/scss/global" ;
@import "../../../assets/scss/varibles" ;


.adminstration{
    padding: $section-padding;
    min-height: Calc(100vh - 80px);

    .table-responsive {
        tr {
          background-color: #fff;
    
          td {
            padding: 16px;
          }
        }
      }
}
