<section class="tickets section-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 heading d-flex justify-content-between">
      <div>
        <h2>Add New Project</h2>
      </div>




      </div>
      </div>

      <div class="row">
        <form [formGroup]="addNewProjectForm">
       
   
          
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                      <label for="name" >Name</label>
                      <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{
                        'is-invalid': f['name'].touched && f['name'].errors
                      }">
                      <div *ngIf="f['name'].touched && f['name'].errors" class="text-danger">
                        <span *ngIf="f['name'].errors?.['required']">This value is required.!</span>
        
                    </div>
                    </div>
                  </div>


              <div class="col-md-6" *ngIf="companies$ |async as companies">
                <div class="mb-3">
                  <label for="validationCustom01">Company Name </label>
              
                  <select id="formrow-inputState" class="form-control" formControlName="companyId" >
                    <option value="" selected disabled>Select Project</option>
                    <option [value]="company.id" *ngFor="let company of companies">{{company.name}}</option>
                </select>
                  <div *ngIf="f['companyId'].touched && f['companyId'].errors" class="text-danger">
                    <span *ngIf="f['companyId'].errors?.['required']">This value is required.!</span>
                </div>
                </div>
              </div>
        
            </div>
              <div class="col-md-6" *ngIf="clients$ |async as clients">
                <div class="mb-3">
                  <label for="validationCustom01">Client</label>
              
                  <select id="formrow-inputState" class="form-control" formControlName="clientId" >
                    <option value="" selected disabled>Select Project</option>
                    <option [value]="client.id" *ngFor="let client of clients">{{client.firstName +' ' + client.lastName}}</option>
                </select>
                  <div *ngIf="f['clientId'].touched && f['clientId'].errors" class="text-danger">
                    <span *ngIf="f['clientId'].errors?.['required']">This value is required.!</span>
                </div>
                </div>
              </div>
  
         
      
            <button type="button" class="btn btn-main" (click)="onCreatNewProjectClicked() " [disabled]="addNewProjectForm.invalid">Send</button>
      </form>
      </div>
      </div>
      </section>
